<% include ./partials/header %>
<div class="container-fluid">
  <div class="blog-contain">
    <h1>NEWS</h1>
    <hr>
    <div class="blog">
      <div class="row vcenter">
        <div class="col-md-12">
          <div class="row row vcenter blog-info">
            <div class="col-md-5">
              <div class="blog-text">
                <h6 class="date">JUNE 2ND 2014</h6>
                <h2>CHEESE BRIE SANDWICH</h2>
                <p>*</p>
                <p>The key is to buy specific cuts for specific dishes and be firm with your butcher. Opt for tender cuts from the inner haunch muscle if..</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="blog-image">
                <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/blog-1-900x479.jpg">
              </div>
            </div>
          </div>
          <div class="row vcenter blog-info">
            <div class="col-md-7">
              <div class="blog-image">
                <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/blog-2-900x479.jpg">
              </div>
            </div>
            <div class="col-md-5">
              <div class="blog-text">
                <h6 class="date">JUNE 1ST 2014</h6>
                <h2>ROASTED TOMATO SOUP</h2>
                <p>*</p>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non..</p>
              </div>
            </div>
          </div>
          <div class="row vcenter blog-info">
            <div class="col-md-5">
              <div class="blog-text">
                <h6 class="date">MAY 27TH 2014</h6>
                <h2>CHEESE STUFFED TOMATOES</h2>
                <p>*</p>
                <p>The key is to buy specific cuts for specific dishes and be firm with your butcher. Opt for tender cuts from the inner haunch muscle if..</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="blog-image">
                <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/blog-3-900x479.jpg">
              </div>
            </div>
          </div>
          <div class="row vcenter blog-info">
            <div class="col-md-7">
              <div class="blog-image">
                <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/blog-4-cereals-900x479.jpg">
              </div>
            </div>
            <div class="col-md-5">
              <div class="blog-text">
                <h6 class="date">MAY 26TH 2014</h6>
                <h2>HOT CEREALS BREAKFAST</h2>
                <p>*</p>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
<script src="./stylesheet/blog.js"></script>
</body>
</html>
