<% include ./partials/header %>
<div class="wrapper">
  <div class="container-fluid home-image">
    <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/holiday2013_front.jpg">
  </div>
  <div class="image-text">
    <h2 class="image-first hidden">Welcome</h2>
    <h1 class="image-second hidden1">THE ROSA</h1>
    <div class="line hidden3">
      <div class="line-left left-hide"></div>
      <div class="line-right right-hide"></div>
      <div class="star star-hide">*</div>
    </div>
    <h5 class="image-third hidden2">Ready to be opened</h5>
  </div>
</div>
<div id="about"class="container-fluid">
  <div class="about">
    <div class="row vcenter">
      <div class="col-md-6 col-12">
        <div class="about-text">
          <h2 class="about-first">Discover</h2>
          <h1 class="about-second">Our Story</h1>
          <p>Rosa is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection.</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-md-6 col-6">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/vertical-photo-1.jpg">
          </div>
          <div class="col-md-6 col-6">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/vertical-photo-2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="gallery" class="container-fluid gallery-pos">
  <div class="gallery">
    <li class="parralax"></li>
  </div>
  <div class="gallery-text">
    <h2 class="gallery-first hidden">Tasteful</h2>
    <h1 class="gallery-second hidden1">Recipes</h1>
  </div>
</div>
<div id="menu" class="container-fluid">
  <div class="menu">
    <div class="row vcenter">
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-md-6 col-6">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/menu-thumb-6-300x218.jpg">
          </div>
          <div class="col-md-6 col-6">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/menu-thumb-2-300x218.jpg">
          </div>
          <div class="col-md-6 col-6 extra-space">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/menu-thumb-1-300x218.jpg">
          </div>
          <div class="col-md-6 col-6 extra-space">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/menu-thumb-4-300x218.jpg">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="menu-text">
          <h2 class="menu-first">Discover</h2>
          <h1 class="menu-second">Menu</h1>
          <p>For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  We love food, lots of different food, just like you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="gallery2"class="container-fluid gallery2">
  <div class="gallery2">
    <li class="parralax2"></li>
  </div>
  <div class="gallery-text2">
    <h2 class="gallery2-first hidden">The Perfect</h2>
    <h1 class="gallery2-second hidden1">Blend</h1>
  </div>
</div>
<div id="reservation" class="container-fluid">
  <div class="reservation-pos">
    <div class="row vcenter">
      <div class="col-md-6 col-12">
        <div class="reservation">
          <h2 class="reservation-first">Culinary</h2>
          <h1 class="reservation-second">Delight</h1>
          <p>We promise an intimate and relaxed dining experience that offers something different to local and foreign patrons and ensures you enjoy a memorable food experience every time.</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-md-6 col-6">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/bacon-1-400x600.jpg">
          </div>
          <div class="col-md-6 col-6">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/bacon-2-400x600.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
<script src="./stylesheet/app.js"></script>
</body>
</html>
