<% include ./partials/header %>
<div class="container-fluid">
  <div class="menu-page">
    <div class="menu-page-image">
      <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/treat-yo-self34836_words_done.jpg">
    </div>
    <div class="menu-page-text">
      <h1 class="menu-second hidden1">THE MENU</h1>
    </div>
  </div>
</div>
<div id="menu"class="container-fluid">
  <div class="menu">
    <div class="row">
      <div class="col-md-6">
        <p>Chef Michel Paris Jr and Head Chef Steve Groves have created a menu of dishe using the finest seasonal produce. Table service throughout for food and drinks. Taking inspiration from around the world, all the dishes on our menu are</p>
      </div>
      <div class="col-md-6">
        <p>designed for sharing. Using incredible British produce, whole animals and fish are butchered and prepared on site every day, and paired with ingredients so good they really speak for themselves.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <h3>STARTERS</h3>
          <hr>
        </div>
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>ENGLISH-ASPARAGUS</span> <span class="price">$14.95</span></h4>
            <p>Asparagus, hens egg, toasted sunflower seeds, Spenwood cheese</p>
          </div>
          <div class="menu-title">
            <h4><span>QUAIL</span> <span class="price">$10.45</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>CORNISH-MACKEREL</span> <span class="price">$9.95</span></h4>
            <p>Cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</p>
          </div>
          <div class="menu-title">
            <h4><span>CURRY-TAMARILLOR</span> <span class="price">$7.95</span></h4>
            <p>Cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</p>
          </div>
          <div class="menu-title">
            <h4><span>CRISPY</span> <span class="price">$12.95</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>ROASTED STEAK ROULADE</span> <span class="price">$14.95</span></h4>
            <p>Mint parsley with apple cider vinegar, salt, sugar & spices</p>
          </div>
          <div class="menu-title">
            <h4><span>SEASONAL SOUP</span> <span class="price">$5.95</span></h4>
            <p>Daily preparation</p>
          </div>
          <div class="menu-title">
            <h4><span>CAMPO LINDO CHICKEN</span> <span class="price">$24.95</span></h4>
            <p>Fava beans, artchokes, farro & black current gastrique</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title">
          <h3>MAINS</h3>
          <hr>
        </div>
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>SEA-TROUT</span> <span class="price">$26.95</span></h4>
            <p>Roast Trout, English asparagus, Jersey Royals, watercress</p>
          </div>
          <div class="menu-title">
            <h4><span>FILET DE SAUMON</span> <span class="price">$13.95</span></h4>
            <p>Baked salmon fillet, hollandaise sauce, rosemary salt potatoes</p>
          </div>
          <div class="menu-title">
            <h4><span>CONFIT DE CANARD</span> <span class="price">$12.15</span></h4>
            <p>Duck confit, white bean & ham cassoulet, wilted spinach</p>
          </div>
          <div class="menu-title">
            <h4><span>POULET CORDON BLEU</span> <span class="price">$13.95</span></h4>
            <p>Paupiette of chicken, blue cheese & ham, rosemary salt  and beans</p>
          </div>
        </div>
        <div class="title">
          <h3>Desserts</h3>
          <hr>
        </div>
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>CREME BRULEE</span> <span class="price">$5.25</span></h4>
            <p>Rich vanilla custard with a caramelised sugar crust</p>
          </div>
          <div class="menu-title">
            <h4><span>TARTE TATIN</span> <span class="price">$5.95</span></h4>
            <p>Caramelised apple tart, vanilla ice cream</p>
          </div>
          <div class="menu-title">
            <h4><span>ASSIETTE DE FROMAGES</span> <span class="price">$6.95</span></h4>
            <p>French cheese selection, chutney and biscuits</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="menu-parralax">
    <div class="menu-back">
      <li class="menu-back-1"></li>
    </div>
    <div class="text-for-menu">
      <h1>LUNCH</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="menu">
    <div class="row">
      <div class="col-md-6">
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>CAMPO LINDO CHICKEN</span> <span class="price">$24.95</span></h4>
            <p>Fava beans, artchokes, farro & black current gastrique</p>
          </div>
          <div class="menu-title">
            <h4><span>MAPLE FARM BREAST</span> <span class="price">$29.95</span></h4>
            <p>Creamy polenta, english peas, carrots & port sauce</p>
          </div>
          <div class="menu-title">
            <h4><span>SEA-TROUT</span> <span class="price">$26.95</span></h4>
            <p>Roast Trout, English asparagus, Jersey Royals, watercress</p>
          </div>
          <div class="menu-title">
            <h4><span>CRISPY</span> <span class="price">$12.95</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>ROASTED STEAK ROULADE</span> <span class="price">$14.95</span></h4>
            <p>Mint parsley with apple cider vinegar, salt, sugar & spices</p>
          </div>
          <div class="menu-title">
            <h4><span>SEASONAL SOUP</span> <span class="price">$5.95</span></h4>
            <p>Daily preparation</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>CRISPY</span> <span class="price">$12.95</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>ROASTED STEAK ROULADE</span> <span class="price">$14.95</span></h4>
            <p>Mint parsley with apple cider vinegar, salt, sugar & spices</p>
          </div>
          <div class="menu-title">
            <h4><span>SEASONAL SOUP</span> <span class="price">$5.95</span></h4>
            <p>Daily preparation</p>
          </div>
          <div class="menu-title">
            <h4><span>FILET DE SAUMON</span> <span class="price">$13.95</span></h4>
            <p>Baked salmon fillet, hollandaise sauce, rosemary salt potatoes</p>
          </div>
          <div class="menu-title">
            <h4><span>CONFIT DE CANARD</span> <span class="price">$12.15</span></h4>
            <p>Duck confit, white bean & ham cassoulet, wilted spinach</p>
          </div>
          <div class="menu-title">
            <h4><span>POULET CORDON BLEU</span> <span class="price">$13.95</span></h4>
            <p>Paupiette of chicken, blue cheese & ham, rosemary salt  and beans</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="menu-parralax">
    <div class="menu-back">
      <li class="menu-back-2"></li>
    </div>
    <div class="text-for-menu">
      <h1>DINNER</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="menu">
    <div class="row">
      <div class="col-md-6">
        <div class="menu-items">
          <div class="menu-title">
            <h4><span></span> <span class="price"></span></h4>
            <p></p>
          </div>
          <div class="menu-title">
            <h4><span>CORNISH-MACKEREL</span> <span class="price">$10.45</span></h4>
            <p>Cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</p>
          </div>
          <div class="menu-title">
            <h4><span>QUAIL</span> <span class="price">$9.95</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>CURRY-TAMARILLOR</span> <span class="price">$7.95</span></h4>
            <p>Cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</p>
          </div>
          <div class="menu-title">
            <h4><span>CRISPY</span> <span class="price">$12.95</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>ROASTED STEAK ROULADE</span> <span class="price">$14.95</span></h4>
            <p>Mint parsley with apple cider vinegar, salt, sugar & spices</p>
          </div>
          <div class="menu-title">
            <h4><span>SEASONAL SOUP</span> <span class="price">$5.95</span></h4>
            <p>Daily preparation</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>CAMPO LINDO CHICKEN</span> <span class="price">$24.95</span></h4>
            <p>Fava beans, artchokes, farro & black current gastrique</p>
          </div>
          <div class="menu-title">
            <h4><span>MAPLE FARM BREAST</span> <span class="price">$29.95</span></h4>
            <p>Creamy polenta, english peas, carrots & port sauce</p>
          </div>
          <div class="menu-title">
            <h4><span>SEA-TROUT</span> <span class="price">$26.95</span></h4>
            <p>Roast Trout, English asparagus, Jersey Royals, watercress</p>
          </div>
          <div class="menu-title">
            <h4><span>CRISPY</span> <span class="price">$12.95</span></h4>
            <p>Smoked quail, crispy egg, spelt, girolles, parsley</p>
          </div>
          <div class="menu-title">
            <h4><span>ROASTED STEAK ROULADE</span> <span class="price">$14.95</span></h4>
            <p>Mint parsley with apple cider vinegar, salt, sugar & spices</p>
          </div>
          <div class="menu-title">
            <h4><span>SEASONAL SOUP</span> <span class="price">$5.95</span></h4>
            <p>Daily preparation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="menu-parralax">
    <div class="menu-back">
      <li class="menu-back-3"></li>
    </div>
    <div class="text-for-menu">
      <h1>DRINKS</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="menu">
    <div class="row">
      <div class="col-md-6">
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>CHAMPAGNE</span> <span class="price">Bottle</span></h4>
            <p></p>
          </div>
          <div class="menu-title">
            <h4><span>CHAPEL DOWN</span> <span class="price">$47.95</span></h4>
            <p>Brut Rose</p>
          </div>
          <div class="menu-title">
            <h4><span>CHANDON</span> <span class="price">$46.95</span></h4>
            <p>Brut Imperial</p>
          </div>
          <div class="menu-title">
            <h4><span>CHANDON</span> <span class="price">$46.95</span></h4>
            <p>Brut ARG</p>
          </div>
          <div class="menu-title">
            <h4><span>BEERS</span> <span class="price">Lager</span></h4>
            <p></p>
          </div>
          <div class="menu-title">
            <h4><span>MEANTIME PILSNER</span> <span class="price">$4.45</span></h4>
            <p>Hells Lager</p>
          </div>
          <div class="menu-title">
            <h4><span>CAMDEN HELLS LAGER</span> <span class="price">$5.95</span></h4>
            <p>Pale Ale</p>
          </div>
          <div class="menu-title">
            <h4><span>WYLD WOOD</span> <span class="price">$5.50</span></h4>
            <p>Apple Cider</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="menu-items">
          <div class="menu-title">
            <h4><span>WHITE WINE</span> <span class="price">Bottle</span></h4>
          </div>
          <div class="menu-title">
            <h4><span>GASCOGNE BLANC</span> <span class="price">$20.95</span></h4>
            <p>Cuvee Jean Paul, 2013</p>
          </div>
          <div class="menu-title">
            <h4><span>ALPHA ZETA</span> <span class="price">$36.95</span></h4>
            <p>Chardonnay, Veneto, 2011</p>
          </div>
          <div class="menu-title">
            <h4><span>FAIRVIEW DARLING</span> <span class="price">$26.95</span></h4>
            <p>Paarl, South Africa, 2012</p>
          </div>
          <div class="menu-title">
            <h4><span>RED WINE</span> <span class="price">Bottle</span></h4>
          </div>
          <div class="menu-title">
            <h4><span>EXCELSIOR</span> <span class="price">$29.95</span></h4>
            <p>Cabernet Sauvognon, South Africa, 2011</p>
          </div>
          <div class="menu-title">
            <h4><span>MALBEC MONTES CLASSIC</span> <span class="price">$35.95</span></h4>
            <p>Colchagua Valley, Mendoza, 2012</p>
          </div>
          <div class="menu-title">
            <h4><span>16 STOPS MCLAREN</span> <span class="price">$35.50</span></h4>
            <p>Vale Shiraz, Australia, 2012</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="special-offer-pad">
    <div class="special-offer">
      <h6>CHAMPAGNE ON US</h6>
      <p>Every Monday, Tuesday and Wednesday evening, we’re offering groups of 10 or more that book an area in our bar a complimentary bottle of Champagne.
  Call our reservations team on (027) 8338 145 for more information.</p>
    </div>
  </div>
</div>
<% include ./partials/footer %>
<script src="./stylesheet/menu.js"></script>
</body>
</html>
