<% include ./partials/header %>
<div class="container-fluid reserve-home">
  <div class="reservation-image">
    <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/contact-food.jpg">
  </div>
  <div class="reservation-image-text">
    <h2 class="reservation-image-first hidden">Make a</h2>
    <h1 class="reservation-image-second hidden1">Reservation</h1>
    <div class="line hidden3">
      <div class="line-left left-hide"></div>
      <div class="line-right right-hide"></div>
      <div class="star star-hide">*</div>
    </div>
    <p class="reservation-image-third hidden2">Booking a table online is easy and takes just a couple of minutes.</p>
  </div>
</div>
<div id="reservation" class="container-fluid">
  <div class="reservation-info">
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <h3>RESERVE BY PHONE</h3>
        </div>
        <div class="content">
          <p>We take reservations for lunch and dinner. To make a reservation, please call us at (027) 8338 145 between 10am-6pm, Monday to Friday.</p>
          <p>We do not book the bar area – we leave this for walk-in guests to ensure that we always offer some tables for those who have not booked.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title">
          <h3>PRIVATE DINING & EVENTS</h3>
        </div>
        <div class="content">
          <p>Whatever your event or celebration, we are here to make your special day a truly memorable one. Rosa’s private dining experts are more than happy to create custom floral arrangements and arrange for guests to meet Chef Moise during the course of their meal. For parties of 8-12 we have the roastery table which is available for private hire.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/frontpage-menu.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/make-a-reservation.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/vk-drinking.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container-fluid">
  <div class="guests">
    <div class="row vcenter">
      <div class="col-md-6">
        <div class="guest-text">
          <h2 class="reservation-first">The Private</h2>
          <h1 class="reservation-second">Mezzaine</h1>
          <p>Rosa’s 50 seat room, “The Meazzanine Room” features a temperature-controlled wine cellar, displays of more wine and a private atmosphere. A semi-private room, “Barbaresco,” is available for meetings, birthdays and other occasions.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/seven_dials-006.jpg">
      </div>
    </div>
  </div>
  <div class="guests">
    <div class="row vcenter">
      <div class="col-md-6">
        <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/05/air_street-010.jpg">
      </div>
      <div class="col-md-6">
        <div class="guest-text">
          <h2 class="reservation-first">The Dining</h2>
          <h1 class="reservation-second">Crown</h1>
          <p>Overlooking the dining room and open kitchen, can seat up to 75 guests or a standing reception of 130 guests. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="special-offer-pad">
    <div class="special-offer">
      <h6>CHAMPAGNE ON US</h6>
      <p>Every Monday, Tuesday and Wednesday evening, we’re offering groups of 10 or more that book an area in our bar a complimentary bottle of Champagne.
  Call our reservations team on (027) 8338 145 for more information.</p>
    </div>
  </div>
</div>
<% include ./partials/footer %>
<script src="./stylesheet/reservation.js"></script>
</body>
</html>
