<% include ./partials/header %>
<div class="container-fluid">
  <div class="shop">
    <div class="shop-image">
      <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/shop-featured1.jpg">
    </div>
    <div class="shop-text">
      <h2 class="shop-first hidden">Disover</h2>
      <h1 class="shop-second hidden1">Order Online</h1>
      <div class="line hidden3">
        <div class="line-left left-hide"></div>
        <div class="line-right right-hide"></div>
        <div class="star star-hide">*</div>
      </div>
      <p class="shop-third hidden2">Hand-crafted dishes sourced from the best ingredients.</p>
    </div>
  </div>
</div>
<div id="shop"class="container-fluid">
  <div class="shop-menu">
    <li class="shop-1 active">ALL PRODUCTS</li>
    <li class="shop-2">MAINS</li>
    <li class="shop-3">SALADS</li>
    <li class="shop-4">STARTERS</li>
  </div>
</div>
<div class="container-fluid">
  <div class="shop-list">
    <div class="shop-items">
      <div class="row">
        <div class="col-md-4 main col-6">
          <div class="thumbnail">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/spice-beef-12-400x400.jpg">
            <div class="caption">
              <h3>SPICY BEEF AND TOFU SALAD</h3>
              <h5>FRESH LOW-CARB NUT-FREE</h5>
              <hr>
              <span>$14.95</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 main">
          <div class="thumbnail">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/five-spice-orange-beef-broccoli-ck-x-400x400.jpg">
            <div class="caption">
              <h3>FIVE-SPICE ORANGE BEEF</h3>
              <h5>FRESH NUT-FREE SWEET</h5>
              <hr>
              <span>$9.95</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 starter">
          <div class="thumbnail">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/pesto-potatoes-400x400.jpg">
            <div class="caption">
              <h3>PESTO CAULIFLOWER</h3>
              <h5>LIGHT MEXICAN GARLIC</h5>
              <hr>
              <span>$14.95</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 salads">
          <div class="thumbnail">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/potato-chorizo-burritos-ck-x-400x400.jpg">
            <div class="caption">
              <h3>GREEN CHILE BURRITOS</h3>
              <h5>LOW-CARB NUT-FREE ORGANIC</h5>
              <hr>
              <span>$12.95</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 main">
          <div class="thumbnail">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/creamy-spring-pasta-400x400.jpg">
            <div class="caption">
              <h3>CREAMY STRING PASTA</h3>
              <h5>LOW-CARB ORGANIC</h5>
              <hr>
              <span class="price-cut">$24.95</span><span>$19.95</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 salads">
          <div class="thumbnail">
            <img src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/5/2014/06/jalapeno-dressing-salad-400x395.jpg">
            <div class="caption">
              <h3>JALAPENO-DRESSING-SALAD</h3>
              <h5>FRESH LIGHT ORGANIC</h5>
              <hr>
              <span>$6.95</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
<script src="./stylesheet/shop.js"></script>
</body>
</html>
